@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
    --cor-principal:red; 
}

h1 {
    font-family: "Parisienne", cursive;
    color: blue;
}
p{
    color: var(--cor-principal);
}
#titulo-principal {
color: crimson;
}

.topico {
    background-color: black;
color: white;
}